[Unit]
Description=Updates pacman mirrorlist
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector -c India -p https --latest 5 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
